<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KIMENG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="KIMENG.Properties.Settings.ConnectionString" connectionString="Data Source=(local);Initial Catalog=KIMENG;Integrated Security=True" />
        <add name="KIMENG.Properties.Settings.OledbCon" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source = \\KIMENG.mdb ; Jet OLEDB:Database Password=12345;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KIMENG.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.4.0;Data Source=C:\myFolder\myAccessFile.accdb;​​​ Jet OLEDB:Database Password=MyDbPassword;
</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source = \\KIMENG.mdb ;Persist Security Info = False;</value>
            </setting>
        </KIMENG.Properties.Settings>
    </userSettings>
</configuration>